*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:100vh;
    background-image: url(../images/bg1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.login{
    width: 600px;
    height: 400px;
    justify-content: center;
    align-content: space-around;
    background-color: rgba(0,0,0,.5);
    border: 10px;
    padding: 20px 50px;
    flex-wrap: wrap;
    position:relative;
}

.login h1{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size:  40px;
    margin-bottom: 50px;
    margin-top: 30px;

}


form{
    display: block;
    width: 100%;
    justify-content: center;

}

span{
    display:block;
    float: left;
    margin-right: 30px;
    font-size: 23px;
    color:aliceblue;
    /* margin-right: 50px; */
    /* height: 100px; */
}

.login .login_input .user_n input{
    display: block;
    float: left;
    justify-content: center;
    height: 23px;
    width: 200px;
    font-size: 20px;
}

.login .login_input .pass input{
    display: block;
    float: left;
    justify-content: center;
    height: 23px;
    width: 200px;
    font-size: 20px;
}

.login .login_input .sub_b input{
    display: block;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: 40px;
}

.login .login_input{
    width: 100%;
    height: 200px;
}

.login .jump{
    margin-top: 10px;
    padding-left: 50px;
}
.login .jump a{
    color:yellow;
}

.login .login_input .user_n{
    width: 100%;
    display: flex;
    justify-content: center; /*水平居中*/
    align-items: Center; /*垂直居中*/
    margin-bottom: 50px;
}

.login .login_input .pass{
    width: 100%;
    display: flex;
    justify-content: center; /*水平居中*/
    align-items: Center; /*垂直居中*/
    margin-bottom: 50px;
}